
    
    html {
        display: flex;
        justify-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    body {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        justify-items: center;
        text-align: center;
        align-items: center;
        background-color: hsl(0, 0%, 8%);
    }
    
    .socialsCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        border-radius: 15px;
        padding: 45px;
        height: 510px;
        width: 300px;
        background-color:hsl(0, 0%, 12%) ;
    
    }

    .jessicaIcon {
        display: flex;
        border-radius: 50%;
        width: 85px;
        height: 85px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13px;
        margin-bottom: 20px;
    }

    .name{  
        color: white;
        font-weight: 700;
        font-size: 25px;
        font-family: 'Inter';
        margin-bottom: 0;
        margin-top: 0;
    }

    .location{
        font-size: 14px;
        font-weight: bold;
        font-family: 'Inter';
        color: hsl(75, 94%, 57%);
        margin-top: 10px;
    }

    .aboutMe {
        color: white;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Inter';
        margin-top: 20px; 
        margin-bottom: 30px;
    }

    nav {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    button {
        display: -webkit-flex;
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: hsl(0, 0%, 20%);
        color: hsl(0, 0%, 100%);
        border: none;
        font-size: 14px;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 15px;
        font-weight: 600;

    }

    button:hover {
        background-color: hsl(75, 94%, 57%);
        color: black;
        cursor: pointer;
    }

